<div class="main font-serif font-black">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading text-4xl text-indigo-900 flex justify-center">
        <%= "#{@nickname}"%>
      </h2>
      <table class="table text-2xl text-indigo-900 w-full h-64">
        <tbody>
          <tr>
            <th class="table__col1 bg-indigo-900 text-white border-4 border-indigo-900 w-1/12 h-1/3 text-center">book of interest</th>
            <td class="table__col2 border-4 border-indigo-900 h-1/3"><%= @user.book %></td>
          </tr>
          <tr>
            <th class="table__col1 bg-indigo-900 text-white border-4 border-indigo-900 w-1/12 h-2/3 text-center">profile</th>
            <td class="table__col2 border-4 border-indigo-900 h-2/3"><%= @user.profile %></td>
          </tr> 
        </tbody>
      </table>
      <h2 class="page-heading text-4xl text-indigo-900 flex justify-center">
        <%="memo"%>
      </h2>
      <div class="user__card">
        <%= render partial: 'memos/memo', collection: @memos %>
        <%# 部分テンプレートでそのユーザーが投稿したプロトタイプ投稿一覧を表示する %>
      </div>

      <% if user_signed_in? && current_user.id == @user.id %>
        <div class="memo-btn fixed right-0 bottom-0 bg-indigo-900 text-white text-3xl font-normal py-4 px-4 rounded">
          <%= link_to(new_memo_path, class: "memo-btn") do %>
          <span class="memo-btn-text">memo</span>
          <%#= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>