<div class="main font-serif font-black">
  <div class="inner flex justify-center">
    <div class="form __wrapper flex flex-col">
      <h2 class="page-heading mx-auto text-7xl text-indigo-900">Rog In</h2>
      <%# 「モデル名」にはUserモデルであれば@userを渡しましょう。%>
      <%# 「ログイン機能へのパス」は、devise導入後にrails routesを実行してdevise/sessions#createへのパスを確認し、記載してください。 %>
      <%# ログイン時のエラーメッセージ  %>
      <div class='login-flash-message mx-auto text-3xl'>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>
      <%= form_with model: @user, url: user_session_path, local: true do |f| %>

      <div class="field text-5xl text-indigo-900">
        <%= f.label :email, "E-Mial" %><br />
        <%= f.email_field :email, class: "form__text box-border h-20 w192 p-4 border-4 border-indigo-900 rounded", id:"user_email", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field text-5xl text-indigo-900">
        <%= f.label :password, "Password（More than 8 strings）" %><br />
        <%= f.password_field :password, class: "form__text box-border h-20 w-192 p-4 border-4 border-indigo-900 rounded", id:"user_password", autocomplete: "current-password" %>
      </div>

      <div class="actions flex justify-end">
        <%= f.submit "rog in", class: "form__btn bg-indigo-900 text-white text-3xl font-normal py-3 px-3 rounded" %>
      </div> 
      
      <% end %>
    </div> 
  </div>
</div>