<div class="card font-serif">
  <%# <%= link_to image_tag("プロトタイプの画像", class: :card__img ), memo_path(memo.id)%>
  <div class="card__body border-4 border-indigo-900 rounded">
    <%= link_to memo.title, memo_path(memo.id), class: :card__title%>
    <p class="card__summary">
      <%= memo.goal %>
    </p>
    <%= link_to "#{memo.user.nickname}", user_path(memo.user.id), class: :card__user %>
  </div>
  
  <div class="mt-0">
    <div class="flex justify-end">
    <% if memo.favorited_by?(current_user) %>
    <%# 一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ %>
      <%= link_to memo_favorites_path(memo.id), method: :delete do %>
      ♥<%= memo.favorites.count %> LGTM！
      <%# <span style="color:red;">❤︎</span> %>
      <% end %>
    <% else %>
    <%# 一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ %>
      <%= link_to memo_favorites_path(memo.id), method: :post do %>
      ♡<%= memo.favorites.count %> LGTM！
      <%# <span>❤︎</span> %>
      <% end %>
    <% end %>
    </div>
    
    <div>
    <%# <%= link_to memo.status, memo_toggle_status_path(memo), method: :patch %>
    <% if memo.status_public? %>
      <div class="btn btn-primary float-left bg-indigo-900 text-white text-1xl font-normal py-2 px-2 rounded">public</div>
    <% else %>
      <div class="btn btn-success float-left bg-indigo-900 text-white text-1xl font-normal py-2 px-2 rounded">private</div>
    <% end %>

    <% if memo.status_public? %>
      <%= link_to "private?", memo_toggle_status_path(memo.id), method: :patch, class: "btn btn-outline-danger bg-indigo-900 text-white text-1xl font-normal py-2 px-2 rounded" %>
    <% else %>
      <%= link_to "public?", memo_toggle_status_path(memo.id), method: :patch, class: "btn btn-outline-danger bg-indigo-900 text-white text-1xl font-normal py-2 px-2 rounded" %>
    <% end %>
    </div>
  </div>
</div>