<div class="card font-serif">
  <%# <%= link_to image_tag("プロトタイプの画像", class: :card__img ), memo_path(memo.id)%>
  <div class="card__body border-4 border-indigo-900 rounded">
    <%= link_to memo.title, memo_path(memo.id), class: :card__title%>
    <p class="card__summary">
      <%= memo.goal %>
    </p>
    <%= link_to "#{memo.user.nickname}", user_path(memo.user.id), class: :card__user %>
  </div>
  
  <div class="mt-0">
    <div class="flex justify-between">
    <div id="favorite_buttons_<%= memo.id %>">
      <%= render "favorites/favorite", memo: memo %>
    </div>
    
    <% if current_page?(user_path(memo.user.id)) && user_signed_in? && current_user.id == memo.user_id%>
      <%= link_to memo.status, memo_toggle_status_path(memo), method: :patch, class: "bg-indigo-900 text-white border-4 border-indigo-900 rounded" %>
      <%# <%= form_with model: memo, local: true do |f|%>
        <%#= f.select :status, [["public", "public"], ["private", "private"]], {}, {id: "status", class: "form-control border-2 border-indigo-900 rounded"} %>
      <%# end %>
    <% end %>
    </div>
    
    <%#<div>
    <%# <%= link_to memo.status, memo_toggle_status_path(memo), method: :patch %>
    <%# if memo.status_public? %>
      <%#<#div class="btn btn-primary float-left bg-indigo-900 text-white text-1xl font-normal py-2 px-2 rounded">public</div>
    <%# else %>
      <%#div class="btn btn-success float-left bg-indigo-900 text-white text-1xl font-normal py-2 px-2 rounded">private</div>
    <%# end %>

    <%# if memo.status_public? %>
      <%#= link_to "private?", memo_toggle_status_path(memo.id), method: :patch, class: "btn btn-outline-danger bg-indigo-900 text-white text-1xl font-normal py-2 px-2 rounded" %>
    <%# else %>
      <%#= link_to "public?", memo_toggle_status_path(memo.id), method: :patch, class: "btn btn-outline-danger bg-indigo-900 text-white text-1xl font-normal py-2 px-2 rounded" %>
    <%# end %>
    <%# </div>  %>
  </div>
</div>