<div class="card">
  <%# <%= link_to image_tag("プロトタイプの画像", class: :card__img ), memo_path(memo.id)%>
  <div class="card__body">
    <%= link_to memo.title, memo_path(memo.id), class: :card__title%>
    <p class="card__summary">
      <%= memo.goal %>
    </p>
    <%= link_to "by #{memo.user.nickname}", user_path(memo.user.id), class: :card__user %>
  </div>
  <% if memo.favorited?(current_user) %>
  <%# 一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ %>
    <%= link_to memo_favorites_path(memo.id), method: :delete do %>
    ♥<%= memo.favorites.count %> いいね！
    <%# <span style="color:red;">❤︎</span> %>
    <% end %>
  <% else %>
  <%# 一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ %>
    <%= link_to memo_favorites_path(memo.id), method: :post do %>
    ♡<%= memo.favorites.count %> いいね！
    <%# <span>❤︎</span> %>
    <% end %>
  <% end %>
  <%# <%= link_to memo.status, memo_toggle_status_path(memo), method: :patch %>
  <% if memo.status_public? %>
      <div class="btn btn-primary mr-5 float-left">公開中</div>
  <% else %>
      <div class="btn btn-success mr-5 float-left">非公開</div>
  <% end %>
  <% if memo.status_public? %>
    <%= link_to "非公開にする", memo_toggle_status_path(memo.id), method: :patch, class: "btn btn-outline-danger" %>
  <% else %>
    <%= link_to "公開する", memo_toggle_status_path(memo.id), method: :patch, class: "btn btn-outline-danger" %>
  <% end %>
</div>