<main class="main font-serif font-black">
  <div class="inner">
    <div class="prototype__wrapper">
      <%= link_to "#{@memo.user.nickname}", user_path(@memo.user.id), class: "prototype__user text-4xl text-indigo-900 font-black" %>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? && current_user.id == @memo.user_id %>
        <div class="prototype__manage">
          <%= link_to "edit", edit_memo_path(@memo.id), class: :prototype__btn %>
          <%= link_to "delete", memo_path(@memo.id), method: :delete, class: :prototype__btn %>
        </div>
      <% end %>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <p class="prototype__hedding text-4xl text-indigo-900 ">
        <%= @memo.title %>
      </p>
      <div class="prototype__body">
        <div class="prototype__detail text-2xl text-indigo-900">
          <p class="detail__title">Purpose</p>
          <p class="detail__message w-full h-32 text-left border-4 border-indigo-900 rounded">
            <%= @memo.goal %>
          </p>
        </div>
        <div class="prototype__detail text-2xl text-indigo-900">
          <p class="detail__title">To Do</p>
          <p class="detail__message w-full h-32 text-left border-4 border-indigo-900 rounded">
            <%= @memo.action %>
          </p>
        </div>
        <div class="prototype__detail text-2xl text-indigo-900">
          <p class="detail__title">Note</p>
          <p class="detail__message w-full h-64 text-left border-4 border-indigo-900 rounded">
            <%= @memo.note %>
          </p>
        </div>

        <div class="flex justify-end">
        <div id="favorite_buttons_<%= @memo.id %>">
          <%= render "favorites/favorite", memo: @memo %>
        </div>
        
        <% if user_signed_in? && current_user.id == @memo.user_id %>
          <%= form_with model: @memo, local: true do |f|%>
          <%= f.select :status, [["public", "public"],["private", "private"]], {}, {id: "status", class: "form-control border-2 border-indigo-900 rounded"} %>
          <% end %>
        <% end %>
        <%# <% if @memo.status_public? %>
          <%#<div class="btn btn-primary mr-5 float-left">public</div>
        <% else %>
          <%#<div class="btn btn-success mr-5 float-left">private</div>
        <% end %>
        <%# if @memo.status_public? %>
          <%#= link_to "private?", memo_toggle_status_path(@memo.id), method: :patch, class: "btn btn-outline-danger" %>
        <%# else %>
          <%#= link_to "public?", memo_toggle_status_path(@memo.id), method: :patch, class: "btn btn-outline-danger" %>
        <%# end %>
        </div>
      </div>

      <div class="prototype__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
        <% if user_signed_in? %>
          <%= form_with(model: [@memo, @comment], local: true) do |f|%>
          <%= render 'layouts/error_messages', model: f.object %>
            <div class="field text-2xl text-indigo-900 font-black text-center">
              <%= f.label :content, "Comment" %><br />
              <%= f.text_area :content, id:"comment_content", class:"break-all w-full pb-32 border-4 border-indigo-900 rounded" %>
            </div>
            <div class="actions flex justify-end">
              <%= f.submit "comment", class: "form__btn bg-indigo-900 text-white text-2xl font-normal py-2 px-2 rounded" %>
            </div>
          <% end %>
        <% else %>
          <strong class="text-2xl text-indigo-900 font-black"><p>If you want to comment, you need to sign up/rog in.</p></strong>
        <% end %>
        <%# // ログインしているユーザーには上記を表示する %>
        <ul class="comments_lists text-2xl text-indigo-900 font-black">
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
            <li class="comments_list list-none">
            <% @comments.each do |comment| %>
              <div class="mb-4 border-4 border-indigo-900 rounded">
              <p>
              <p>
                <%= comment.content %>
                <%= link_to comment.user.nickname, user_path(comment.user.id), class: :comment_user %>
                <% if user_signed_in? && current_user.id == comment.user_id %>
                  <div class="prototype__manage flex justify-end">
                    <%= link_to "delete", memo_comment_path(comment.memo.id, comment.id), method: :delete, class: "prototype__btn text-1xl font-normal px-2 py-0 m-0 rounded" %>
                  </div>
                <% end %>
              </p>
              </p>
              </div>
            <% end %> 
            </li>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>
      </div>
    </div>
  </div>
</main>
